*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 15pt;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1.5s;


}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

a {text-decoration: none;}
h1{
	font-size: 30pt;
	font-weight: 400;
}
[class*='col-']{
    height:100%;

}

.col-1{
    float:left;
    width:38%;
    top:0;
    position:fixed;
    animation: none;
}

.col-2{
    float:right;
    width:61%;
    height:100%;
}

.col-3{
	padding: 50px;
	width: 800px;
	background-color: white;
	
}
.box1{
    
    width:200px;
    position: absolute;
    top:35%;
   	right:5%;
   	animation: none;
    
}

li{
	list-style-type: none;
	display: inline;
	margin-right: 20px;

}

.box1 ul li a{
	text-decoration: none;
	color:grey;
	position: relative;
	font-size: 15pt;
	
}
.box1 ul li a:hover{
	color: grey;

}

.box1 a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top:125%;
  left: 0;
  background-color: grey;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.box1 a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav ul {
	padding: 20px 0px;
}
nav ul li{
	margin-right: 30px;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 30px;
	padding-top: 100px;

}

.item{
	margin-bottom: 30px;
	height: 300px;
	width: 550px;
	background-color:tomato;
	border-radius: 10px;

}

.button{
  
  margin-bottom: 50px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 12pt;
  outline: none;
  color: #4f4f4f;
  background-color:white ;
  border: none;
  border-radius: 10px;
  box-shadow: 0 7px grey;

}

.button:hover {

  background-color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition:0.5s; }



.shelf{
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	width:50%;
	float:right;
	
	text-align: center;
}
.shelf h1{
	margin-bottom: 50px;
	font-size: 20pt;
	color: white;	
}

.frame{
	width: 150px;
	height: 150px;

}

.frame2{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-2 p{
	font-size: 12pt;
	color: hsl(0,0%, 50%);
	font-style: italic;
	margin-right: 180px;
	margin-bottom: 50px;
}

#descript{
	margin-top: 20px;
	margin-right: 0;
	font-size: 13pt;
	color: rgb(10,0,0);
	font-style: normal;
	line-height: 30px;
}

.shelf2{
	width: 500px;
}

nav{
	height: 70px;
	width: 100%;
	float: top;
	position: fixed;
	background-color: white;
	z-index: 1000;
	border: solid 2px white;
}

.wallpaper{
	display: flex;
	justify-content: center;
	

}

.wallpaper h1{
	font-size: 34pt;
}

.wallpaper h2{
	font-weight: 400;
	font-size: 18pt;
	padding-top: 50px;
}

.wallpaper p,.banner p{
	font-size: 12pt;
	padding-top: 30px;
	line-height: 30px;
}

.banner{
	width: 100%;
	height: 330px;
	display: flex;
	background-color: #eee7e6;
	flex-direction: row;
	justify-content: space-around;
}

.col-3 ul li{
	padding-top: 35px;
	display: inline-block;
	width: 45%;
	padding-right: 0px;
	
	
}

.bannerleft {
	padding-right: 50px;
	margin-right: 10px;
	border-right: 1px solid black;

}

.col-3 h1{
	margin-top: 70px;
}

.col-3 h2{
	font-weight: 400;
}
nav ul li a{
	text-decoration: none;
	color:grey;
	position: relative;
	font-size: 15pt;
	margin-right: 20px;
	
}
nav ul li a:hover{
	color: grey;

}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top:125%;
  left: 0;
  background-color: grey;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#seven{
	margin-top: 40px;
	margin-left: 20px;
}

#dailyui{
	margin-top: 30px;
	margin-left: 20px;
}

#illus{
	margin-top: 20px;
	margin-left: 80px;
	transform: rotate(90deg);
}

.day{
	margin-top: 50px;
}

.col-3 a{
	text-decoration: none;
	font-size: 12pt;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 0px;
}

.shelf2 a{
	margin-right: 20px;
	text-decoration: none;
	color: grey;
	font-size: 14pt;
}

.subtitle{
	font-weight: 400;
	text-decoration: bold;
}
